@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// App.module.scss yoki alohida _variables.scss faylida
:root {
    --color-primary: #17643c;
    --color-primary-light: #1e8a53;
    --color-accent: #FF6B35;
    --color-accent-light: #FF8A3D;
    --color-danger: #e04f2f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    // transition: all 0.3s;
}

body {
    background-color: #f2f2f2;
}

.body {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.DashMenu {
    width: calc(100% - 20%);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    height: calc(100vh - 40px);
    overflow: auto;
    float: right;

    &.DashMenuLong {
        width: calc(100% - 90px);
    }
}